In [55]:
#Imports
import pandas as pd
import requests
import numpy as np
from matplotlib import pyplot as plt
from scipy import stats

In [56]:
asthmaERLoc='../Datasets/rawAsthmaERChildren.csv'
aqiLoc='../Datasets/aqi.csv'

asthmaERDf = pd.read_csv(asthmaERLoc, header=[0,1])
aqiDf=pd.read_csv(aqiLoc)

In [57]:
asthmaERDf

              Year      2010                                            2011  \
            County ER Visits ER Visit Rate Standard ER Visit Ratio ER Visits
0          Baldwin        92           984               Expected        101
1           Barrow       168         853.7                    Low        154
2           Bartow       176         656.8                    Low        183
3             Bibb       396         987.5               Expected        411
4          Bulloch       182      1,254.70                   High        196
5           Camden       149      1,087.40               Expected        139
6          Carroll       233         828.7                    Low        213
7          Catoosa        11            69                    Low         19
8          Chatham       855      1,424.60                   High        893
9         Cherokee       309           523                    Low        350
10          Clarke       128         627.3                    Low        171
11         Clayton     1,003      1,338.50                   High      1,018
12            Cobb     1,915      1,083.30               Expected      1,933
13          Coffee       104         937.6               Expected         27
14        Colquitt       139      1,099.80               Expected        150
15        Columbia       174         511.7                    Low        174
16          Coweta       209         597.7                    Low        230
17          DeKalb     3,000      1,816.40                   High      3,027
18       Dougherty       392      1,613.40                   High        423
19         Douglas       424      1,128.50               Expected        456
20       Effingham        72         481.4                    Low         93
21         Fayette       180           639                    Low        148
22           Floyd       194         831.8                    Low        205
23         Forsyth       242         450.3                    Low        194
24          Fulton     3,575      1,620.60                   High      3,652
25           Glynn       104         540.5                    Low        141
26          Gordon        64         431.2                    Low         83
27        Gwinnett     2,220         943.4                    Low      2,236
28       Habersham        58         564.2                    Low         48
29            Hall       200         398.3                    Low        229
30           Henry       377         628.7                    Low        402
31         Houston       380      1,009.20               Expected        325
32         Jackson        67         416.6                    Low         61
33         Laurens       151      1,213.00               Expected        132
34         Liberty       136         726.4                    Low        168
35         Lowndes       266         981.7               Expected        305
36          Murray        49         462.4                    Low         31
37        Muscogee       540      1,112.30               Expected        420
38          Newton       365      1,265.70                   High        352
39        Paulding       338         782.5                    Low        339
40            Polk       100           906               Expected        115
41        Richmond     1,278      2,594.40                   High      1,165
42        Rockdale       248      1,080.60               Expected        243
43        Spalding        90         555.9                    Low        266
44          Thomas        97         869.6               Expected        106
45            Tift        92         882.9               Expected         85
46           Troup       170         954.9               Expected        194
47          Walker        31           191                    Low         17
48          Walton       210         928.6               Expected        189
49            Ware       198      2,311.20                   High        205
50       Whitfield        73         248.5                    Low         86
51  County Summary    22,224      1,074.40                   High     22,503

                                              2012                \
   ER Visit Rate Standard ER Visit Ratio ER Visits ER Visit Rate
0       1,104.10               Expected        132      1,428.10
1          791.6                    Low        170         884.2
2            697                    Low        218           836
3       1,022.70               Expected        389           977
4       1,344.20                   High        187      1,282.50
5       1,054.10               Expected        134      1,020.20
6          767.8                    Low        238         859.3
7          121.1                    Low         20         127.9
8       1,461.30                   High      1,008      1,623.70
9          594.1                    Low        292         493.8
10           837                    Low        177         825.4
11      1,340.10                   High      1,251      1,643.70
12      1,093.90                   High      2,204      1,239.80
13         249.6                    Low         99         907.3
14      1,176.00               Expected        167      1,310.70
15         509.6                    Low        145         419.6
16         663.2                    Low        305         881.9
17      1,810.10                   High      3,456      2,044.70
18      1,742.00                   High        411      1,701.50
19      1,229.80                   High        549      1,485.60
20         634.2                    Low         78         531.2
21         538.1                    Low        190         711.1
22         894.3                    Low        230      1,002.40
23         355.4                    Low        199         358.5
24      1,617.20                   High      4,227      1,837.20
25           732                    Low        159         828.3
26           561                    Low         92         625.9
27         942.8                    Low      2,603      1,090.90
28         467.2                    Low         78         769.2
29         452.5                    Low        270         531.8
30         680.1                    Low        467         801.4
31         858.4                    Low        335         882.3
32         383.8                    Low         87         550.5
33      1,086.00               Expected        152      1,261.90
34         845.4                    Low        146         752.8
35      1,117.90               Expected        261         948.1
36         297.4                    Low         24         233.4
37         854.7                    Low        433         867.7
38      1,233.20                   High        419      1,480.80
39         801.3                    Low        347         830.2
40      1,061.60               Expected        136      1,261.20
41      2,349.20                   High      1,156      2,353.10
42      1,074.60               Expected        356      1,594.90
43      1,668.70                   High        263      1,665.00
44         955.2               Expected         90           821
45         814.2                    Low         92         899.9
46      1,094.00               Expected        192      1,074.60
47         107.8                    Low         41         263.4
48         850.2                    Low        177           801
49      2,419.50                   High        186      2,205.90
50         296.5                    Low         78         270.8
51      1,084.90                   High     25,116      1,206.60

                                     ...                              2015  \
   Standard ER Visit Ratio           ...           Standard ER Visit Ratio
0                    High            ...                         Expected
1                     Low            ...                         Expected
2                     Low            ...                              Low
3                     Low            ...                         Expected
4                Expected            ...                             High
5                Expected            ...                         Expected
6                     Low            ...                         Expected
7                     Low            ...                              Low
8                    High            ...                             High
9                     Low            ...                              Low
10                    Low            ...                              Low
11                   High            ...                         Expected
12                   High            ...                             High
13                    Low            ...                         Expected
14               Expected            ...                             High
15                    Low            ...                              Low
16                    Low            ...                              Low
17                   High            ...                             High
18                   High            ...                             High
19                   High            ...                             High
20                    Low            ...                              Low
21                    Low            ...                              Low
22                    Low            ...                         Expected
23                    Low            ...                              Low
24                   High            ...                              Low
25                    Low            ...                              Low
26                    Low            ...                              Low
27                    Low            ...                              Low
28                    Low            ...                              Low
29                    Low            ...                              Low
30                    Low            ...                              Low
31                    Low            ...                              Low
32                    Low            ...                              Low
33               Expected            ...                             High
34                    Low            ...                         Expected
35                    Low            ...                              Low
36                    Low            ...                              Low
37                    Low            ...                             High
38                   High            ...                             High
39                    Low            ...                             High
40               Expected            ...                         Expected
41                   High            ...                             High
42                   High            ...                             High
43                   High            ...                         Expected
44                    Low            ...                         Expected
45                    Low            ...                                *
46               Expected            ...                             High
47                    Low            ...                              Low
48                    Low            ...                         Expected
49                   High            ...                             High
50                    Low            ...                              Low
51                   High            ...                             High

        2016                                            2017                \
   ER Visits ER Visit Rate Standard ER Visit Ratio ER Visits ER Visit Rate
0         93      1,051.90               Expected         80         922.3
1        185         907.3               Expected        196         941.9
2        202         793.7                    Low        158         616.4
3        567      1,487.70                   High        622      1,646.40
4        199      1,351.00                   High        150         986.8
5         80         622.6                    Low         84         650.7
6        231         823.7                    Low        201         711.8
7         23         150.2                    Low         29         189.9
8        725      1,147.20                   High        656      1,047.00
9        238         391.9                    Low        279         454.4
10       188         865.6               Expected        200         911.5
11       793      1,010.40                   High      1,038      1,305.00
12     2,103      1,155.10                   High      1,923      1,060.90
13        48         457.6                    Low         57         548.1
14       130      1,061.70               Expected        152      1,258.10
15       176         467.4                    Low        193         499.2
16       281         792.3                    Low        213         600.5
17     2,598      1,487.90                   High      2,771      1,588.90
18       233      1,059.30               Expected        181         842.1
19       610      1,628.10                   High        518      1,380.90
20        66         424.8                    Low         73         460.6
21       154         582.2                    Low        153         573.8
22       148         654.8                    Low        144         634.4
23       178         285.4                    Low        172         268.8
24     1,739         752.7                    Low      3,405      1,466.30
25       156           817               Expected        204      1,079.80
26        72         510.6                    Low         54         385.2
27     2,169           871                    Low      1,958         782.7
28        54         541.4                    Low         50         498.6
29       248         489.5                    Low        243         480.6
30       358         611.8                    Low        359         610.9
31       318           817                    Low        287         731.4
32       102         621.3                    Low         89         521.5
33       132      1,138.30                   High        122      1,050.50
34       150         852.2               Expected        114         660.5
35       113         415.5                    Low        174         631.8
36        25           258                    Low         29         296.2
37       654      1,353.30                   High        674      1,405.20
38       424      1,486.10                   High        363      1,275.30
39       604      1,443.40                   High        524      1,239.70
40        92         867.5               Expected         95         891.7
41     1,066      2,268.80                   High      1,024      2,201.10
42       279      1,245.70                   High        279      1,237.90
43       194      1,266.60                   High        141         916.7
44        89         823.5               Expected         67           625
45        75           745                    Low         93         932.1
46       242      1,380.70                   High        246      1,422.80
47        38           253                    Low         34         225.7
48       265      1,166.50                   High        207         903.7
49        88      1,040.70               Expected        106      1,241.50
50        55         198.3                    Low         44         160.9
51    20,050         951.6                   High     21,228      1,004.50

                           Selected Years Total                \
   Standard ER Visit Ratio            ER Visits ER Visit Rate
0                Expected                   821      1,134.70
1                Expected                 1,385         870.4
2                     Low                 1,527         738.1
3                    High                 3,496      1,118.50
4                Expected                 1,482      1,262.10
5                     Low                   972         925.9
6                     Low                 1,771         794.6
7                     Low                   161         129.5
8                Expected                 6,773      1,362.00
9                     Low                 2,425         506.3
10               Expected                 1,391         817.1
11                   High                 7,631      1,246.70
12                   High                16,626      1,157.40
13                    Low                   683         796.8
14                   High                 1,174      1,177.10
15                    Low                 1,388         482.3
16                    Low                 1,871         667.8
17                   High                23,218      1,702.40
18                    Low                 2,723      1,474.00
19                   High                 4,339      1,453.90
20                    Low                   633         525.9
21                    Low                 1,284         595.6
22                    Low                 1,531         840.6
23                    Low                 1,529         326.8
24                   High                22,665      1,234.80
25               Expected                 1,247           817
26                    Low                   589         511.7
27                    Low                17,972         923.6
28                    Low                   476         588.3
29                    Low                 1,963         486.1
30                    Low                 3,151         672.2
31                    Low                 2,577         840.3
32                    Low                   699         542.4
33               Expected                 1,171      1,228.90
34                    Low                 1,205         813.9
35                    Low                 1,651         750.3
36                    Low                   285         353.7
37                   High                 4,820      1,232.60
38                   High                 3,052      1,341.90
39                   High                 3,529      1,049.60
40               Expected                   877      1,021.70
41                   High                 9,017      2,345.10
42                   High                 2,320      1,286.10
43               Expected                 1,482      1,187.70
44                    Low                   767         880.8
45               Expected                   585         716.5
46                   High                 1,602      1,134.10
47                    Low                   246         199.2
48               Expected                 1,693         939.7
49                   High                 1,135      1,679.70
50                    Low                   570         252.7
51                   High               174,180      1,041.70


   Standard ER Visit Ratio
0                    High
1                     Low
2                     Low
3                    High
4                    High
5                     Low
6                     Low
7                     Low
8                    High
9                     Low
10                    Low
11                   High
12                   High
13                    Low
14                   High
15                    Low
16                    Low
17                   High
18                   High
19                   High
20                    Low
21                    Low
22                    Low
23                    Low
24                   High
25                    Low
26                    Low
27                    Low
28                    Low
29                    Low
30                    Low
31                    Low
32                    Low
33                   High

In [58]:
#access double row header
asthmaERDf['2010','ER Visit Rate']

0          984
1        853.7
2        656.8
3        987.5
4     1,254.70
5     1,087.40
6        828.7
7           69
8     1,424.60
9          523
10       627.3
11    1,338.50
12    1,083.30
13       937.6
14    1,099.80
15       511.7
16       597.7
17    1,816.40
18    1,613.40
19    1,128.50
20       481.4
21         639
22       831.8
23       450.3
24    1,620.60
25       540.5
26       431.2
27       943.4
28       564.2
29       398.3
30       628.7
31    1,009.20
32       416.6
33    1,213.00
34       726.4
35       981.7
36       462.4
37    1,112.30
38    1,265.70
39       782.5
40         906
41    2,594.40
42    1,080.60
43       555.9
44       869.6
45       882.9
46       954.9
47         191
48       928.6
49    2,311.20
50       248.5
51    1,074.40
Name: (2010, ER Visit Rate), dtype: object

In [59]:
aqiGADf=aqiDf[(aqiDf['State']=='Georgia')]

In [60]:
aqiGADf.head(2)

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10
185,Georgia,Bibb,2017,365,284,81,0,0,0,0,93,58,40,0,0,163,0,202,0
186,Georgia,Charlton,2017,47,43,4,0,0,0,0,89,47,25,0,0,0,0,47,0

In [61]:
len(aqiGADf.County.unique())

32

In [62]:
aqiGADf[aqiGADf[]

SyntaxError: invalid syntax (<ipython-input-62-09e218fc8c91>, line 1)

In [63]:
aqiGADf.columns.str.contains('ozone', case=False)

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True, False, False,
       False])

In [64]:
aqiGADf.columns[aqiGADf.columns.str.contains('ozone', case=False)]

Index(['Days Ozone'], dtype='object')

In [65]:
aqiGADf['Days Ozone']

185     163
186       0
187     100
188     240
189     188
190       0
191     225
192       0
193     245
194     149
195     242
196     131
197       0
198     231
199       0
200     114
201     215
202     181
203       0
204     186
205       0
206       0
207     216
208     151
209       0
210     357
211     160
212     243
213     241
214       0
       ...
7647      0
7648     91
7649    242
7650    137
7651      0
7652    133
7653      0
7654    243
7655    105
7656    244
7657     72
7658      0
7659    244
7660      0
7661    113
7662    219
7663    135
7664      0
7665    123
7666      0
7667      0
7668    216
7669    113
7670    151
7671    116
7672    242
7673    234
7674      0
7675      0
7676      0
Name: Days Ozone, Length: 254, dtype: int64

In [66]:
aqiGADf=aqiGADf.drop(columns='State')
aqiGADf=aqiGADf.set_index('County')

In [67]:
aqiGADf.head()

,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10
County,,,,,,,,,,,,,,,,,
Bibb,2017,365,284,81,0,0,0,0,93,58,40,0,0,163,0,202,0
Charlton,2017,47,43,4,0,0,0,0,89,47,25,0,0,0,0,47,0
Chatham,2017,365,289,76,0,0,0,0,84,57,38,0,0,100,35,230,0
Chattooga,2017,240,232,8,0,0,0,0,64,45,36,0,0,240,0,0,0
Clarke,2017,360,314,46,0,0,0,0,97,53,38,0,0,188,0,172,0

In [68]:
aqiGADfPivot=aqiGADf.pivot(columns='Year')

In [69]:
aqiGADfPivot.head()

          Days with AQI                                                   \
Year               2010   2011   2012   2013   2014   2015   2016   2017
County
Bibb              364.0  364.0  366.0  365.0  365.0  365.0  366.0  365.0
Charlton          119.0  115.0  116.0  117.0  116.0  119.0  117.0   47.0
Chatham           365.0  365.0  366.0  365.0  365.0  365.0  366.0  365.0
Chattooga         264.0  256.0  265.0  244.0  245.0  191.0  242.0  240.0
Clarke            365.0  365.0  366.0  365.0  356.0  358.0  362.0  360.0

          Good Days        ...  Days PM2.5        Days PM10                   \
Year           2010   2011 ...        2016   2017      2010  2011  2012 2013
County                     ...
Bibb          160.0  174.0 ...       219.0  202.0       1.0   0.0   0.0  0.0
Charlton      107.0   93.0 ...       117.0   47.0       0.0   0.0   0.0  0.0
Chatham       183.0  176.0 ...       191.0  230.0       0.0   0.0   0.0  0.0
Chattooga     203.0  202.0 ...         0.0    0.0      22.0  19.0  20.0  0.0
Clarke        205.0  212.0 ...       171.0  172.0       0.0   0.0   0.0  0.0


Year      2014 2015 2016 2017
County
Bibb       0.0  0.0  0.0  0.0
Charlton   0.0  0.0  0.0  0.0
Chatham    0.0  0.0  0.0  0.0
Chattooga  0.0  0.0  0.0  0.0
Clarke     0.0  0.0  0.0  0.0

[5 rows x 128 columns]

In [70]:
ozoneGAAll= aqiGADfPivot['Days Ozone']

In [71]:
ozoneGAAll

Year         2010   2011   2012   2013   2014   2015   2016   2017
County
Bibb         73.0  101.0  105.0  101.0   73.0  124.0  146.0  163.0
Charlton      0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
Chatham      91.0   75.0   89.0   87.0   53.0  107.0  135.0  100.0
Chattooga   242.0  237.0  245.0  244.0  245.0  191.0  242.0  240.0
Clarke      137.0  160.0  140.0   94.0  108.0  148.0  191.0  188.0
Clayton       0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
Cobb        133.0  128.0  147.0  134.0   40.0  156.0  177.0  225.0
Coffee        0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
Columbia    243.0  234.0  240.0  237.0  240.0  243.0  243.0  245.0
Coweta      105.0  128.0   83.0  103.0  109.0  142.0  178.0  149.0
Dawson      244.0  239.0  242.0  245.0  245.0  227.0  244.0  242.0
DeKalb       72.0  109.0   94.0   54.0   73.0   74.0  123.0  131.0
Dougherty     0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
Douglas     244.0  245.0  238.0  241.0  238.0  234.0  245.0  231.0
Floyd         0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
Fulton      113.0  133.0  133.0  133.0  125.0  105.0  103.0  114.0
Glynn       219.0  209.0  215.0  194.0  144.0  179.0  182.0  215.0
Gwinnett    135.0  118.0  144.0  147.0  151.0  171.0  202.0  181.0
Hall          0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
Henry       123.0  136.0  134.0  144.0  155.0  160.0  200.0  186.0
Houston       0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
Lowndes       0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
Murray      216.0  223.0  232.0  228.0  217.0  225.0  242.0  216.0
Muscogee    113.0  100.0  130.0  122.0  107.0  122.0  175.0  151.0
Paulding    151.0  106.0   89.0   71.0   72.0   97.0  124.0    0.0
Pike          NaN  324.0  339.0  334.0  359.0  355.0  339.0  357.0
Richmond    116.0  145.0  114.0  117.0  100.0  138.0  146.0  160.0
Rockdale    242.0  244.0  243.0  244.0  244.0  244.0  240.0  243.0
Sumter      234.0  232.0  233.0  245.0  244.0  245.0  245.0  241.0
Walker        0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
Washington    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
Wilkinson     0.0    0.0    0.0    0.0    0.0    0.0    0.0    NaN

In [97]:
gaOzoneAndAsthmaER=asthmaERDf.merge(ozoneGAAll, left_on=['Year','County'], right_on=['Year','County'], how='inner')

C:\Users\tstag\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\pandas\core\reshape\merge.py:543: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

KeyError: 'Year'

In [21]:
asthmaERDf.head()

      Year      2010                                            2011  \
    County ER Visits ER Visit Rate Standard ER Visit Ratio ER Visits
0  Baldwin        92           984               Expected        101
1   Barrow       168         853.7                    Low        154
2   Bartow       176         656.8                    Low        183
3     Bibb       396         987.5               Expected        411
4  Bulloch       182      1,254.70                   High        196

                                             2012                \
  ER Visit Rate Standard ER Visit Ratio ER Visits ER Visit Rate
0      1,104.10               Expected        132      1,428.10
1         791.6                    Low        170         884.2
2           697                    Low        218           836
3      1,022.70               Expected        389           977
4      1,344.20                   High        187      1,282.50

                                    ...                              2015  \
  Standard ER Visit Ratio           ...           Standard ER Visit Ratio
0                   High            ...                         Expected
1                    Low            ...                         Expected
2                    Low            ...                              Low
3                    Low            ...                         Expected
4               Expected            ...                             High

       2016                                            2017                \
  ER Visits ER Visit Rate Standard ER Visit Ratio ER Visits ER Visit Rate
0        93      1,051.90               Expected         80         922.3
1       185         907.3               Expected        196         941.9
2       202         793.7                    Low        158         616.4
3       567      1,487.70                   High        622      1,646.40
4       199      1,351.00                   High        150         986.8

                          Selected Years Total                \
  Standard ER Visit Ratio            ER Visits ER Visit Rate
0               Expected                   821      1,134.70
1               Expected                 1,385         870.4
2                    Low                 1,527         738.1
3                   High                 3,496      1,118.50
4               Expected                 1,482      1,262.10


  Standard ER Visit Ratio
0                   High
1                    Low
2                    Low
3                   High
4                   High

[5 rows x 28 columns]

In [37]:
asthmaERDf['Year','County']

0            Baldwin
1             Barrow
2             Bartow
3               Bibb
4            Bulloch
5             Camden
6            Carroll
7            Catoosa
8            Chatham
9           Cherokee
10            Clarke
11           Clayton
12              Cobb
13            Coffee
14          Colquitt
15          Columbia
16            Coweta
17            DeKalb
18         Dougherty
19           Douglas
20         Effingham
21           Fayette
22             Floyd
23           Forsyth
24            Fulton
25             Glynn
26            Gordon
27          Gwinnett
28         Habersham
29              Hall
30             Henry
31           Houston
32           Jackson
33           Laurens
34           Liberty
35           Lowndes
36            Murray
37          Muscogee
38            Newton
39          Paulding
40              Polk
41          Richmond
42          Rockdale
43          Spalding
44            Thomas
45              Tift
46             Troup
47            Walker
48            Walton
49              Ware
50         Whitfield
51    County Summary
Name: (Year, County), dtype: object

In [103]:
ozoneGAAll.index

Index(['Bibb', 'Charlton', 'Chatham', 'Chattooga', 'Clarke', 'Clayton', 'Cobb',
       'Coffee', 'Columbia', 'Coweta', 'Dawson', 'DeKalb', 'Dougherty',
       'Douglas', 'Floyd', 'Fulton', 'Glynn', 'Gwinnett', 'Hall', 'Henry',
       'Houston', 'Lowndes', 'Murray', 'Muscogee', 'Paulding', 'Pike',
       'Richmond', 'Rockdale', 'Sumter', 'Walker', 'Washington', 'Wilkinson'],
      dtype='object', name='County')

In [54]:
ozoneGAAll.index

Index(['Bibb', 'Charlton', 'Chatham', 'Chattooga', 'Clarke', 'Clayton', 'Cobb',
       'Coffee', 'Columbia', 'Coweta', 'Dawson', 'DeKalb', 'Dougherty',
       'Douglas', 'Floyd', 'Fulton', 'Glynn', 'Gwinnett', 'Hall', 'Henry',
       'Houston', 'Lowndes', 'Murray', 'Muscogee', 'Paulding', 'Pike',
       'Richmond', 'Rockdale', 'Sumter', 'Walker', 'Washington', 'Wilkinson'],
      dtype='object', name='County')

In [73]:
gaOzoneAndAsthmaER

NameError: name 'gaOzoneAndAsthmaER' is not defined