In [1]:
%%capture
%run jmplayingwithdata.ipynb

In [2]:
#Set CSV file locations. May need modification if data moved to other folder.
#We use Table C08301: Means of Transportation to Work to caculate an indicator of traffic density
#Please refer to https://censusreporter.org/tables/C08301/
#Please refer to https://www.socialexplorer.com/data/ACS2015_5yr/metadata/?ds=ACS15_5yr&table=B08301
acs2010_csvlocation = '../Datasets/ACS_10_5YR_B08301.csv'
acs2011_csvlocation = '../Datasets/ACS_11_5YR_B08301.csv'
acs2012_csvlocation = '../Datasets/ACS_12_5YR_B08301.csv'
acs2013_csvlocation = '../Datasets/ACS_13_5YR_B08301.csv'
acs2014_csvlocation = '../Datasets/ACS_14_5YR_B08301.csv'
acs2015_csvlocation = '../Datasets/ACS_15_5YR_B08301.csv'
acs2016_csvlocation = '../Datasets/ACS_16_5YR_B08301.csv'

#Read the CSV's into dataframes
acs2010 = pd.read_csv(acs2010_csvlocation, encoding="ISO-8859-1")[['GEO.display-label','HD01_VD01','HD01_VD02']].rename(columns={"HD01_VD01": "Total_2010", "HD01_VD02": "Cars/Truck/Van_2010"})
acs2011 = pd.read_csv(acs2011_csvlocation, encoding="ISO-8859-1")[['GEO.display-label','HD01_VD01','HD01_VD02']].rename(columns={"HD01_VD01": "Total_2011", "HD01_VD02": "Cars/Truck/Van_2011"})
acs2012 = pd.read_csv(acs2012_csvlocation, encoding="ISO-8859-1")[['GEO.display-label','HD01_VD01','HD01_VD02']].rename(columns={"HD01_VD01": "Total_2012", "HD01_VD02": "Cars/Truck/Van_2012"})
acs2013 = pd.read_csv(acs2013_csvlocation, encoding="ISO-8859-1")[['GEO.display-label','HD01_VD01','HD01_VD02']].rename(columns={"HD01_VD01": "Total_2013", "HD01_VD02": "Cars/Truck/Van_2013"})
acs2014 = pd.read_csv(acs2014_csvlocation, encoding="ISO-8859-1")[['GEO.display-label','HD01_VD01','HD01_VD02']].rename(columns={"HD01_VD01": "Total_2014", "HD01_VD02": "Cars/Truck/Van_2014"})
acs2015 = pd.read_csv(acs2015_csvlocation, encoding="ISO-8859-1")[['GEO.display-label','HD01_VD01','HD01_VD02']].rename(columns={"HD01_VD01": "Total_2015", "HD01_VD02": "Cars/Truck/Van_2015"})
acs2016 = pd.read_csv(acs2016_csvlocation, encoding="ISO-8859-1")[['GEO.display-label','HD01_VD01','HD01_VD02']].rename(columns={"HD01_VD01": "Total_2016", "HD01_VD02": "Cars/Truck/Van_2016"})

In [3]:
#Merge 
acs2010_2011 = pd.merge(acs2010, acs2011, on='GEO.display-label', how='outer')
acs2010_2012 = pd.merge(acs2010_2011, acs2012, on='GEO.display-label', how='outer')
acs2010_2013 = pd.merge(acs2010_2012, acs2013, on='GEO.display-label', how='outer')
acs2010_2014 = pd.merge(acs2010_2013, acs2014, on='GEO.display-label', how='outer')
acs2010_2015 = pd.merge(acs2010_2014, acs2015, on='GEO.display-label', how='outer')
acs2010_2016 = pd.merge(acs2010_2015, acs2016, on='GEO.display-label', how='outer').set_index('GEO.display-label')
acs2010_2016.head()

,Total_2010,Cars/Truck/Van_2010,Total_2011,Cars/Truck/Van_2011,Total_2012,Cars/Truck/Van_2012,Total_2013,Cars/Truck/Van_2013,Total_2014,Cars/Truck/Van_2014,Total_2015,Cars/Truck/Van_2015,Total_2016,Cars/Truck/Van_2016
GEO.display-label,,,,,,,,,,,,,,
Geography,Estimate; Total:,"Estimate; Car, truck, or van:",Estimate; Total:,"Estimate; Car, truck, or van:",Estimate; Total:,"Estimate; Car, truck, or van:",Estimate; Total:,"Estimate; Car, truck, or van:",Estimate; Total:,"Estimate; Car, truck, or van:",Estimate; Total:,"Estimate; Car, truck, or van:",Estimate; Total:,"Estimate; Car, truck, or van:"
"Autauga County, Alabama",24499,23542,24349,23297,24369,23329,24144,23107,24290,23400,24120,23216,24302,23307
"Baldwin County, Alabama",77184,72570,78770,73861,79588,74682,80619,75520,82134,77290,84504,78994,86310,79642
"Barbour County, Alabama",9661,9056,9447,8817,8990,8550,9163,8645,9108,8639,8464,8016,8783,8297
"Bibb County, Alabama",9521,9093,8930,8562,8366,8104,7845,7620,7773,7532,8148,7874,8280,7975

In [4]:
#merge with datasets J created 
mergeddf.head()

,Total Days (2010),Good Days (2010),Max AQI (2010),90th Percentile AQI (2010),Median AQI (2010),Days PM2.5 (2010),Days PM10 (2010),Total Days (2011),Good Days (2011),Max AQI (2011),...,Days PM2.5 (2017),Days PM10 (2017),2010 pcnt,2011 pcnt,2012 pcnt,2013 pcnt,2014 pcnt,2015 pcnt,2016 pcnt,2017 pcnt
Bibb,364.0,160.0,133.0,76.0,53.0,289.0,1.0,364,174,151,...,202.0,0.0,0.006187,0.005806,0.006492,0.006345,0.006599,0.006673,0.008642,0.009263
Charlton,119.0,107.0,67.0,51.0,30.0,119.0,0.0,115,93,89,...,47.0,0.0,0.003968,0.003343,0.002919,0.002896,0.002071,0.001744,0.001490,0.001416
Chatham,365.0,183.0,107.0,74.0,50.0,178.0,0.0,365,176,160,...,230.0,0.0,0.007015,0.007036,0.008022,0.007551,0.006519,0.005861,0.006179,0.006296
Chattooga,264.0,203.0,97.0,71.0,41.0,0.0,22.0,256,202,115,...,0.0,0.0,0.002736,0.002298,0.003747,0.003274,0.004023,0.002571,0.003181,0.002301
Clarke,365.0,205.0,147.0,77.0,46.0,228.0,0.0,365,212,126,...,172.0,0.0,0.003490,0.003749,0.004254,0.004649,0.004548,0.004480,0.004879,0.004651

In [5]:
for year in np.arange(2010,2017):
    mergeddf[f'Total_{year}'] = [acs2010_2016.loc[f'{county} County, Georgia'][f'Total_{year}'] for county in mergeddf.index]
    mergeddf[f'Cars/Truck/Van__{year}'] = [acs2010_2016.loc[f'{county} County, Georgia'][f'Cars/Truck/Van_{year}'] for county in mergeddf.index]

In [6]:
mergeddf

,Total Days (2010),Good Days (2010),Max AQI (2010),90th Percentile AQI (2010),Median AQI (2010),Days PM2.5 (2010),Days PM10 (2010),Total Days (2011),Good Days (2011),Max AQI (2011),...,Total_2012,Cars/Truck/Van__2012,Total_2013,Cars/Truck/Van__2013,Total_2014,Cars/Truck/Van__2014,Total_2015,Cars/Truck/Van__2015,Total_2016,Cars/Truck/Van__2016
Bibb,364.0,160.0,133.0,76.0,53.0,289.0,1.0,364,174,151,...,60462,56614,59663,55729,57979,53720,58764,54310,59054,54154
Charlton,119.0,107.0,67.0,51.0,30.0,119.0,0.0,115,93,89,...,3864,3710,4113,3835,4179,3922,4611,4233,4601,4228
Chatham,365.0,183.0,107.0,74.0,50.0,178.0,0.0,365,176,160,...,119179,107512,119561,108007,122787,110061,125724,112013,130262,115273
Chattooga,264.0,203.0,97.0,71.0,41.0,0.0,22.0,256,202,115,...,9330,9020,8920,8589,8577,8213,8833,8442,8910,8499
Clarke,365.0,205.0,147.0,77.0,46.0,228.0,0.0,365,212,126,...,50933,42634,50584,43116,51235,43917,52953,45584,54501,47084
Clayton,112.0,49.0,86.0,68.0,53.0,112.0,0.0,102,53,95,...,111045,101719,107102,98536,108088,99447,110146,101076,113377,102631
Cobb,347.0,178.0,156.0,84.0,50.0,214.0,0.0,317,166,140,...,347115,311195,346467,308860,351795,313071,360896,319764,368545,325488
Coffee,59.0,45.0,83.0,63.0,36.0,59.0,0.0,59,37,92,...,15516,14155,15345,14086,15257,14161,15107,14131,15625,14724
Columbia,243.0,181.0,108.0,71.0,44.0,0.0,0.0,234,147,126,...,58583,55975,59319,56619,60047,57516,62435,60096,63008,60598
Coweta,365.0,220.0,100.0,69.0,45.0,260.0,0.0,365,238,115,...,57962,54408,58486,54549,59285,55177,61291,56991,63327,58803
Dawson,244.0,187.0,151.0,74.0,43.0,0.0,0.0,239,195,93,...,9644,8508,9656,8719,9604,8789,9706,8854,10239,9374
DeKalb,365.0,132.0,182.0,79.0,55.0,274.0,0.0,365,163,172,...,323385,268898,322473,268522,327763,271797,337434,280595,345582,287006
Dougherty,357.0,189.0,156.0,70.0,48.0,354.0,3.0,361,152,115,...,35402,32671,34503,31615,33428,30409,33575,30521,33985,30629
Douglas,244.0,159.0,133.0,87.0,45.0,0.0,0.0,245,177,147,...,57717,53458,58108,53406,58447,53981,60423,55370,63154,58203
Floyd,365.0,125.0,155.0,75.0,56.0,360.0,0.0,361,175,160,...,38857,35512,38123,35009,38202,35221,39136,35584,39726,36143
Fulton,365.0,152.0,161.0,87.0,54.0,243.0,1.0,365,179,169,...,440231,355399,440476,356364,448780,363115,464283,375316,476794,382917
Glynn,359.0,309.0,93.0,56.0,35.0,52.0,8.0,358,311,108,...,35007,32319,34390,31387,34525,31464,35376,32489,35704,32984
Gwinnett,365.0,207.0,119.0,74.0,47.0,230.0,0.0,364,184,156,...,378803,343621,380147,345628,389038,354198,401004,365933,416125,378901
Hall,354.0,136.0,99.0,76.0,55.0,354.0,0.0,351,169,99,...,78998,72886,79317,72971,80594,74517,82759,76760,84673,78418
Henry,365.0,215.0,159.0,71.0,46.0,242.0,0.0,362,204,156,...,90852,84442,89559,83096,89422,82383,89987,82722,92536,85040
Houston,331.0,160.0,98.0,70.0,52.0,331.0,0.0,363,169,95,...,63980,61591,63727,61244,63348,60879,64693,62227,65160,62871
Lowndes,332.0,135.0,159.0,69.0,53.0,332.0,0.0,339,102,154,...,47494,43941,46966,43666,47155,43629,47298,43850,48555,45086
Murray,278.0,189.0,150.0,77.0,44.0,62.0,0.0,267,174,133,...,15415,15094,15168,14769,15326,14724,15748,15081,16202,15606
Muscogee,365.0,201.0,245.0,72.0,47.0,251.0,1.0,365,207,118,...,83211,72189,82772,72007,85276,74872,86104,76366,86877,77190
Paulding,365.0,223.0,150.0,74.0,45.0,209.0,0.0,364,200,154,...,64945,60281,65775,61191,66521,61949,68470,63625,69921,64853
Pike,NaN,NaN,NaN,NaN,NaN,NaN,NaN,324,248,150,...,7635,7354,7443,7213,7375,7104,7221,6971,7344,7119
Richmond,364.0,195.0,136.0,72.0,48.0,248.0,0.0,362,190,126,...,83288,76544,81247,75097,80828,74178,80653,73918,81125,74339
Rockdale,363.0,285.0,150.0,67.0,36.0,0.0,0.0,364,249,164,...,37134,33767,36780,33307,36418,33194,36655,33701,37121,34312
Sumter,234.0,189.0,108.0,64.0,42.0,0.0,0.0,232,171,100,...,12633,11694,12177,11370,11621,10745,11035,10237,11224,10448
Walker,351.0,166.0,95.0,70.0,52.0,351.0,0.0,355,145,95,...,27129,25660,27548,26158,27281,26016,27643,26246,27716,26305
Washington,112.0,77.0,90.0,60.0,40.0,102.0,10.0,111,72,114,...,7061,6769,7233,6955,7118,6726,7249,6813,7490,6989
Wilkinson,106.0,50.0,178.0,68.0,51.0,106.0,0.0,101,53,129,...,3387,3275,3152,3046,3114,2996,3209,3056,3297,3107